Source: ruby-rotp
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 7.0.50~),
               gem2deb,
               rake,
               ruby-rspec
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-rotp.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-ruby-extras/ruby-rotp.git
Homepage: http://github.com/mdp/rotp
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-rotp
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends}
Description: A Ruby library for generating and verifying one time passwords
 Works for both HOTP and TOTP, and includes QR Code provisioning
