#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --buildsystem=ruby --with ruby
override_dh_installdocs:
	dh_installdocs
	rm debian/ruby-rotp/usr/share/doc/ruby-rotp/file.README.html
override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md
